@import "../../styles/variables";
@import "../../styles/mixins";

img {
  object-position: center;
  object-fit: cover;
}



.map-container {
  background-size: cover;
  background-position: center;


  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background: #3a4042;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapboxgl-popup-content {
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  max-width: 200px;
  box-shadow: 8px 8px 5px #444;
  border-radius: 25%;
  text-align: center;
  max-width: 200px;
  max-height: 200px;
}

.mapboxgl-popup-content h2 {
  font-size: small;
}

.mapboxgl-popup-content button {
  cursor: pointer;

  &:hover {
    color: $secondary-color;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }

  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(218, 33, 33);
  background-image: linear-gradient(to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
  inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.mapboxgl-popup-tip {
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);

}

.marker {
  background: url('../../assets/map-marker.svg');
  border: $secondary-color !important;
  cursor: pointer;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vh;
  margin: 4px 2px;
  border-radius: 50%;

  &:hover {
    animation: pulse 1s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    50% {
      transform: scale(1.1);
      box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0);
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}