// @import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");
.box {
  position: fixed;
  margin: 0;
  bottom: 0;  
  padding: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  // height: 10em;  naprawia błąd ale powoduje kolejny

}


.main {
  background-color: #27ae60;
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rowdies", cursive;
}

.center {
  width: 600px;
  margin: auto;
}

section a {
  margin-bottom: 0;
  bottom: 0; 
  background: #f0f0f0;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  display: block;
  font-size: 1.3em;
  letter-spacing: 3px;
  overflow: hidden;
  border-bottom: 3px solid #aaa69d;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
  inset -2px -2px 3px rgba(0, 0, 0, 0.6);

  &:hover{ 
    background-color: rgba(255, 255, 255, ); 
  }
 
}

// section p {
//   padding: 10px;
//   overflow: hidden;
//   height: 0;
//   opacity: 0;
//   background: #27ae60;
//   color: #fff;
//   overflow: hidden;
//   letter-spacing: 2px;
//   transition: 2s;

// }

section:target p {
  height: 10em;
  opacity: 1;
  // padding: 20px;

}

section .active p {
  height: 0;
  opacity: 0;
  padding: 0;
  transition: 2s;
}


section:target .expanded-content {
  height: 18em;
  opacity: 1;
  transition: 2s;
  padding: 0;
}


section:target .collapsed-content {
  height: 0;
  opacity: 0;
  padding: 0;
  transition: 2s;
}
.accordion__icon {
  transition: transform 250ms ease-in-out;
}

.accordion__icon_expanded{
  transition: transform 250ms ease-in-out;
  transform: rotate(180deg);
}
.accordion_box{
  display: flex;
}


.accordion_body {
  background: var(--gray-2);
  display: grid;
  // place-items: center;
  max-height: 50vh;
  font-family: 'Google Sans', sans-serif, system-ui;
}

.track-wrapper {
  height: 10%;
  width: 100%;
  max-block-size: var(--size-content-3);
  overflow: hidden;
}

.track {
  --size: clamp(200px, 40vmin, 50rem);
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: overlay;
  gap: var(--size-4);
  list-style-type: none;
  margin: 0;
  padding: 20px var(--size-4); 
  margin-bottom: 100vh;

}

.track__item {
  height: 100%;
  aspect-ratio: 1;
  background: hsl(0 80% 50% / 1);
  scroll-snap-align: center;
}

