// @import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");
.box {
  position: fixed;
  margin: 0;
  bottom: 0;
  padding: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
}

.main {
  background-color: #27ae60;
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rowdies", cursive;
}

.center {
  width: 600px;
  margin: auto;
}

section a {
  margin-bottom: 0;
  background: #fff;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  display: block;
  font-size: 1.3em;
  letter-spacing: 3px;
  overflow: hidden;
  border-bottom: 3px solid #aaa69d;
}

section p {
  padding: 10px;
  overflow: hidden;
  height: 0;
  opacity: 0;
  background: #27ae60;
  color: #fff;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 2s;

}

section:target p {
  height: 10em;
  opacity: 1;
  padding: 20px;
}

section .active p {
  height: 0;
  opacity: 0;
  padding: 0;
  transition: 2s;
}


section:target .expanded-content {
  height: 10em;
  opacity: 1;
  padding: 20px;
}


section:target .collapsed-content {
  height: 0;
  opacity: 0;
  padding: 0;
  transition: 2s;
}
.accordion__icon {
  transition: transform 250ms ease-in-out;
}

.accordion__icon_expanded{
  transition: transform 250ms ease-in-out;
  transform: rotate(180deg);
}
.accordion_box{
  display: flex;
}